@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&family=Heebo:wght@300;400;500&display=swap');
@import url('https://fonts.cdnfonts.com/css/glacial-indifference-2');
@import url('https://fonts.cdnfonts.com/css/isidora-soft-alt');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
    font-family: 'Isidora Soft Alt', sans-serif;
    z-index: 1;
}

body {
    background-color: #fff;
    overflow-x: hidden !important;
    max-width: 100vw;
}

::-webkit-scrollbar {
    display: none;
}

.image {
    filter: brightness(45%);
    height: 600px;
}

.sliderImage {
    width: 100%;
    height: fit-content;
    background: rgba(0, 0, 0, 0.4);
    background: no-repeat center fixed;
    background-size: cover;
    filter: brightness(80%);
    padding: 60px;
}

.F6F6F6 {
    background-color: #F6F6F6;
}

.f2f2f2 {
    background-color: #f2f2f2;
}

.background-image {
    background-color: #252525 !important;
}

.carouselArrow1 {
    position: relative;
    left: -50px;
}

.carouselArrow2 {
    position: relative;
    left: 50px;
}

.productFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.prodCard {
    width: 16vw;
    height: 220px !important;
}

.mainButton {
    background-image: linear-gradient(to right, #da4e5c, #8b2c26) !important;
    border-radius: 14px !important;
}

.heading {
    background: linear-gradient(to right, #a03931, #dc7a84, #adacac);
    background: linear-gradient(to right, #95342d, #de6672, #786d6d);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fitContent {
    width: fit-content;
}

li::marker {
    font-size: 1.2rem;
    font-weight: 500;
}

.hColumn2,
.hColumn1 {
    height: 650px;
}

.aColumn1 {
    height: 400px;
}

.aColumn2 {
    height: 450px;
}

.aColumn2 img {
    background-size: cover;
    height: 100%;
    filter: brightness(40%);
    overflow-y: hidden;
}

.aboutContent {
    position: relative;
    top: 12px;
}

.serviceCard {
    width: 100% !important;
    height: 385px !important;
    border-radius: 0px !important;
}

.projCard {
    height: 190px !important;
}

.projCard h5 {
    width: 100%;
    height: 50%;
    background-color: #C23947;
}

.projCard h6 {
    width: 100%;
    height: 50%;
    color: #C23947;
}

/* for fixing footer */
/* flex-grow-1 will take all the remaining space of page and hence fixes footer to bottom of page */

.bodyWrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* navbar */
.wrapper {
    position: fixed;
    width: 100%;
    background-color: #f8f9fa;
    z-index: 999;
    height:70px;
}

.wrapper nav {
    /* position: relative; */
    display: flex;
    /* max-width: calc(100% - 200px); */
    margin: 0 auto;
    /* height: 70px; */
    align-items: center;

    /* justify-content: space-between; */
    /* overflow-y: hidden; */
}

nav .content {
    width:100%;
    padding: 16px 32px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* overflow-y: hidden; */
}

nav .content .links {
    margin-left: 80px;
    display: flex;
    align-items: center;
    /* margin-top: 16px; */
    /* overflow-y: hidden; */
}

.content .links li {
    list-style: none;
}

.content .links li a,
.content .links li label {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    padding: 8px 16px;
    border-radius: 5px;
    transition: all 0.3s ease;
    text-decoration: none;
}

.content .links li label {
    display: none;
}

.content .links li a:hover,
.content .links li label:hover {
    background: #dde3ed;
    border-radius: 4px;
}

.wrapper .menu-icon {
    font-size: 28px;
    cursor: pointer;
    margin-top: 8px;
    width: 70px;
    text-align: center;
}

.wrapper .menu-icon {
    display: none;
}

.wrapper input[type="checkbox"] {
    display: none;
}

/* Dropdown Menu code start */
.content .links ul {
    position: absolute;
    background: #dde3ed;
    top: 80px;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    border-radius: 4px;
    padding: 4px;
}

.content .links li:hover>ul {
    top: 70px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
}

.content .links ul li a {
    display: block;
    width: 100%;
    line-height: 20px;
    border-radius: 0px !important;
}

.content .links ul ul {
    position: absolute;
    top: 0;
    right: calc(-100% + 30px);
    z-index: 2;
}

.content .links ul li {
    position: relative;
}

.content .links ul li:hover ul {
    top: 0;
}

/* Responsive code start */
@media screen and (max-width: 1250px) {
    .wrapper nav {
        max-width: 100%;
        padding: 0 20px;
    }

    nav .content .links {
        margin-left: 30px;
    }

    .content .links li a {
        padding: 8px 16px;
    }
}

@media (max-width:1020px) and (min-width:900px) {
    nav .content .links {
        margin-left: 12px;
    }

    .content .links li a {
        padding: 4px 12px;
    }
}

@media(max-width:930px) and (min-width:900px) {
    nav .content .links {
        margin-left: -4px;
    }
}

@media screen and (max-width: 900px) {
    .wrapper .menu-icon {
        display: block;
    }

    .wrapper #show-menu:checked~.menu-icon i::before {
        content: "\f00d";
    }

    nav .content .links {
        display: block;
        position: fixed;
        background: #dde3ed;
        height: 100%;
        width: 100%;
        top: 70px;
        left: -100%;
        margin-left: 0;
        max-width: 350px;
        overflow-y: auto;
        padding-bottom: 100px;
        margin-top: 0;
        transition: all 0.3s ease;
        padding-left: 12px;
    }

    nav #show-menu:checked~.content .links {
        left: 0%;
    }

    .content .links li {
        margin: 8px 20px;
    }

    .content .links li a,
    .content .links li label {
        font-size: 20px;
        display: block;
        cursor: pointer;
    }

    .content .links li a.desktop-link {
        display: none;
    }

    /* dropdown responsive code start */
    .content .links ul,
    .content .links ul ul {
        position: static;
        opacity: 1;
        visibility: visible;
        background: none;
        max-height: 0px;
        overflow: hidden;
    }

    .content .links #show-features:checked~ul,
    .content .links #show-services:checked~ul,
    .content .links #show-items:checked~ul,
    .content .links #show-projects:checked~ul,
    .content .links #show-sectors:checked~ul,
    .content .links #show-sector-items:checked~ul {
        max-height: 100vh;
    }

    .content .links ul li {
        margin: 7px 20px;
    }

    .content .links ul li a {
        font-size: 18px;
        line-height: 20px;
        border-radius: 5px !important;
        /* color: #2f2f2f; */
    }
}

@media screen and (max-width: 400px) {
    .wrapper nav {
        padding: 0 10px;
    }

    .content .logo a {
        font-size: 27px;
    }
}

@media(max-width:1300px) {

    .hColumn2,
    .hColumn1 {
        height: 680px;
    }
}

@media(max-width:1280px) {
    .serviceCard {
        height: 420px !important;
    }
}

@media(max-width:1200px) {
    .projCard {
        height: 240px !important;
    }
}

@media(max-width:1150px) {
    .serviceCard {
        height: 460px !important;
    }
}

@media(max-width:1100px) {
    .image {
        height: 650px;
    }

    .prodCard {
        width: 20vw;
    }

    .hColumn2,
    .hColumn1 {
        height: 720px;
    }

    .serviceCard {
        height: 480px !important;
    }
}

@media(max-width:1100px) and (min-width:1040px) {
    .marketHead {
        font-size: 1.1rem !important;
    }
}

@media (max-width:1000px) {
    .serviceCard {
        height: 400px !important;
    }

    .aColumn1 {
        height: 450px;
    }

    .aColumn2 {
        height: 500px;
    }

    .aboutContent {
        bottom: 420px;
    }
}

@media(max-width:950px) {
    .image {
        height: 620px;
    }
}

@media(max-width:905px) {

    .hColumn2,
    .hColumn1,
    .hColumn1 img {
        height: 850px;
    }

    .serviceCard {
        height: 430px !important;
    }

    .aColumn1 {
        height: 500px;
    }

    .aColumn2 {
        height: 550px;
    }

    .aboutContent {
        bottom: 480px;
    }
}

@media(max-width:850px) {
    .prodCard {
        width: 26vw;
    }

    .hColumn2,
    .hColumn1,
    .hColumn1 img {
        height: 960px;
    }

    .hColumn1 img {
        width: 100%;
    }

    .serviceCard {
        height: 470px !important;
    }

    .carouselArrow1 {
        position: relative;
        left: -20px;
    }

    .carouselArrow2 {
        position: relative;
        left: 20px;
    }

}

@media(max-width:765px) {

    .hColumn2,
    .hColumn1,
    .hColumn1 img,
    .aColumn1 {
        height: fit-content;
    }

    .hColumn1 img {
        margin-bottom: 12px;
    }

    .serviceCard {
        height: 320px !important;
    }

    .aboutContent {
        bottom: 360px;
    }

    .aColumn2 {
        height: 450px;
    }
}

@media(max-width:700px) {
    .prodCard {
        width: 34vw;
    }
}

@media(max-width:650px) {
    .image {
        height: 680px;
    }

    .prodCard {
        width: 36vw;
    }
}

@media(max-width:550px) {
    .image {
        height: 730px;
    }

    .serviceCard {
        height: 340px !important;
    }
}

@media(max-width:500px) {
    .prodCard {
        width: 54vw;
        color: #eab2b7cc;
    }

    .carouselArrow1,
    .carouselArrow2 {
        position: static;
    }
}

@media(max-width:430px) {
    .prodCard {
        width: 60vw;
    }

    .serviceCard {
        height: 390px !important;
    }

    .aColumn2 {
        height: 500px;
    }

    .aboutContent {
        bottom: 420px;
    }
}


/* about animation */

.about-content-1 {
    /* opacity:0; */
    /* animation: about-content-animate .5s forwards */
}

.about-content-2 {
    opacity: 0;
    animation: about-content-animate .75s forwards
}

@keyframes about-content-animate {
    from {
        transform: translateY(20px)
    }

    to {
        opacity: 1;
        transform: none;
    }
}

/*  home page animation */
.service-card1 {
    position: relative;
    top: 100px;
    opacity: 0;
    transition: all 1s ease-in-out
}

.service-card1.active {
    opacity: 1;
    top: 0;
}

.service-card2, .service-card3, .service-card4{
    position:relative;
    left:60px;
    opacity: 0;
}

.service-card2.active{
   animation : service-card ease-in-out 0.5s forwards;
   animation-timing-function: linear;
   animation-delay: 1s;
}

.service-card3.active{
    animation : service-card ease-in-out 0.5s forwards;
    animation-timing-function: linear;
    animation-delay: 1.5s;
}

.service-card4.active{
    animation : service-card ease-in-out 0.5s forwards;
    animation-timing-function: linear;
    animation-delay: 2s;
}

@keyframes service-card {
    50% {
       left:30px;
       opacity: 0.5;
    }

    100% {
        opacity: 1;
        left:0;
    }
}

.sCard1 {
    position: relative;
    right: -100vw;
    animation: sCardAnimate ease-in;
    animation-delay: 1s;
}

@keyframes sCardAnimate {
    50% {
        right: 50vw;
    }

    100% {
        right: 0;
    }
}

.home-about-1,
.home-about-2,
.home-about-3 {
    opacity: 0;
    position: relative;
    top: 80px;
    transition: all 1s ease-in-out
}

.home-about-1.active,
.home-about-2.active,
.home-about-3.active {
    opacity: 1;
    top: 0;
}

.heading-animate {
    text-transform: uppercase;
    /* color: rgba(0, 0, 0, 0.5); */
    color: rgba(132, 4, 4, 0.7);
    /* background: -webkit-gradient(linear, left top, right top, from(#000), to(#e6e6e6), color-stop(0.8, #000)) no-repeat; */
    /* background: gradient(linear, left top, right top, from(#000), to(#000), color-stop(0.8, #000)) no-repeat; */
    background: -webkit-gradient(linear, left top, right top, from(#6b0404), to(#e6e6e6), color-stop(0.8, #522222)) no-repeat;
    background: gradient(linear, left top, right top, from(#522222), to(#522222), color-stop(0.8, #522222)) no-repeat;
    background-size: 100px 100%;
    -webkit-background-clip: text;
    background-clip: text;
    animation: head-animate 3.5s infinite;
    overflow-y: hidden;
}

@keyframes head-animate {
    0% {
        background-position: top left;
    }

    100% {
        background-position: top right;
    }
}

.service-button:hover {
    background-image: linear-gradient(to right, #878787, #b2b2b2, #b7b7b7) !important;
    background-color: #fff !important;
    background-size: 100%, 50% !important;
    color: #000 !important;
    border: 0.5px solid #000 !important;
    transform: scale(0.97);
    transition: all 300ms ease-in-out;
}

.serviceText0,
.serviceText1,
.serviceText2,
.serviceText3,
.serviceText4,
.serviceText5,
.aCard1,
.aCard2,
.aCard3,
.aCard4,
.aCard5 {
    position: relative;
    top: 80px;
    opacity: 0;
}

.serviceText0.active,
.aCard1.active {
    animation: textShow .5s ease-in forwards;
    animation-delay: 0.3s;
    animation-timing-function: linear;
}

.serviceText1.active,
.aCard2.active {
    animation: textShow .5s ease-in forwards;
    animation-delay: 0.5s;
    animation-timing-function: linear;
}

.serviceText2.active,
.aCard3.active {
    animation: textShow .5s ease-in forwards;
    animation-delay: 0.75s;
    animation-timing-function: linear;
}

.serviceText3.active,
.aCard4.active {
    animation: textShow .5s ease-in forwards;
    animation-delay: 1s;
    animation-timing-function: linear;
}

.serviceText4.active,
.aCard5.active {
    animation: textShow .5s ease-in forwards;
    animation-delay: 1.4s;
    animation-timing-function: linear;
}

.serviceText5.active {
    animation: textShow .5s ease-in forwards;
    animation-delay: 1.8s;
    animation-timing-function: linear;
}

.aboutText {
    position: relative;
    top: 80px;
    opacity: 0;
}

.aboutText.active {
    animation: textShow .5s ease-in forwards;
    animation-delay: 0.7s;
    animation-timing-function: linear;
}

@keyframes textShow {

    50% {
        top: 25px;
        opacity: 0.5;
    }

    100% {
        top: 0;
        opacity: 1
    }
}

.projectText {
    opacity: 0;
}

.projectText.active {
    animation: project-text 3s ease-in forwards;
    animation-timing-function: linear;
}

@keyframes project-text {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.left {
    opacity: 0;
    position: relative;
    right: 200px;
}

.left.active {
    animation: animateLeft 0.5s ease-in-out forwards;
    animation-delay: 1.2s;
    animation-timing-function: linear;
}

@keyframes animateLeft {
    50% {
        opacity: 0.5;
        right: 80px;
    }

    100% {
        opacity: 1;
        right: 0;
    }
}

.right {
    opacity: 0;
    position: relative;
    left: 200px;
}

.right.active {
    animation: animateRight 0.7s ease-in-out forwards;
    animation-delay: 2s;
    animation-timing-function: linear;
}

@keyframes animateRight {
    50% {
        opacity: 0.5;
        left: 100px;
    }

    100% {
        opacity: 1;
        left: 0;
    }
}

.slideAnimate {
    opacity: 0;
    animation: slide 1s forwards ease;
    animation-delay: 0.8s;
    animation-timing-function: linear;
    position: relative;
    right: 150px;
    background: linear-gradient(to right, #fff, #eee, #252525);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.slideAnimate button{
    color: #fff;
    background-clip:initial;

}
@keyframes slide {
    30% {
        opacity: 0.3;
        right: 90px;
    }

    60% {
        opacity: 0.6;
        right: 60px;
    }

    100% {
        opacity: 1;
        right: 0;
    }
}

.proj-card{
    width:40vw !important;
}

.scroll{
    position: static !important;
    margin-bottom: 50vh;
}