@mixin text($size, $weight, $family, $color) {
    font-size: $size;
    font-weight: $weight;
    font-family: $family;
    color: $color;
}

@mixin flexRow {
    display: flex;
}

$primary : #C23947;
$primaryColor : #C23947;
$enable-negative-margins: true;
$carousel-transition-duration: 0.2s;

$grid-breakpoints: (
    xs: 0,
    sm: 300px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);

.orangeText {
    @include text(1rem, 500, "Heebo", $primaryColor )
}

.blackText {
    @include text(2.5rem, 700, "Barlow", "#000");
    letter-spacing: 2px;
    line-height: 44px;
}

.slideText {
    @include text(4rem, 700, "Heebo", "#fff");
}

.ulList {
    opacity: 0.95;

    li {
        display: flex;
        align-items: center;
    }
}

.footImg {
    width: 32px;
    background-color: #45494E;
    border-radius: 4px;
    padding: 6px;
}

.underline {
    height: 4px;
    width: 100%;
    // width:340px;
    background-color: #717171;
}

@media(max-width:650px) {
    .slideText {
        font-size: 3.8rem;
    }

    .underline {
        width: 310px;
    }
}

@media(max-width:550px) {
    .slideText {
        font-size: 3.5rem;
        line-height: 76px !important;
    }

    .underline {
        width: 300px;
    }
}

@media(max-width:450px) {
    .slideText {
        font-size: 3rem;
    }

    .underline {
        width: 260px;
    }
}

.prodCard:hover {
    transform: scale(1.05);
    transition: all 500ms ease;

    h5 {
        animation: text-animate 1s ease-in-out infinite;
    }

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        z-index: -2;
    }

    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: darken(#fff, 12%);
        transition: all .3s;
        z-index: -1;
    }

    &:hover {
        &:before {
            width: 100%;
        }
    }
}

@keyframes text-animate {
    25%{
        opacity:0.25;
        transform:scale(0.95)
    }

    50%{
        opacity:0.5;
        transform:scale(1)
    }

    75%{
        opacity:0.75;
        transform:scale(0.95)
    }

    100%{
        opacity:1;
        transform:scale(1)
    }
}

.about-btn-animate {
    background-color: $primary;

    &:hover {
        box-shadow: 0px 0px 0px 2.5px #fff, 0px 0px 0px 5px $primary, 0px 0px 0px 10px white, 0px 0px 0px 10.5px $primary;
        background: white;
        color: $primary;
        transition: all 500ms ease-in-out
    }
}

@import "bootstrap/scss/bootstrap.scss";