@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&family=Heebo:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: "Heebo", sans-serif;
    z-index: 1;
}

body {
    background-color: #fff;
}

::-webkit-scrollbar {
    display: none;
}

.image {
    filter: brightness(45%);
    height: 600px;
}

.F6F6F6 {
    background-color: #F6F6F6;
}

.f2f2f2 {
    background-color: #f2f2f2;
}

.service {
    background-color: #343245;
    background-image: linear-gradient(to bottom right, #89322b, #dc7a84, #9b9b9b);
}

.fefefe {
    color: #f1efef;
}

.productFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.prodCard {
    width: 16vw;
    height: 200px !important;
}

.mainButton {
    background-image: linear-gradient(to right, #da4e5c, #8b2c26) !important;
    border-radius: 14px !important;
}

.heading {
    background: linear-gradient(to right, #a03931, #dc7a84, #adacac);
    background: linear-gradient(to right, #95342d, #de6672, #786d6d);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tick {
    color: #444444;
    width: 20px;
    background: linear-gradient(to right, #4a2929, #522222, #704444);
}

.fitContent {
    width: fit-content;
}

li::marker {
    font-size: 1.2rem;
    font-weight: 500;

}

@media(max-width:1100px) {
    .image {
        height: 650px;
    }

    .prodCard {
        width: 20vw;
    }
}

@media(max-width:1100px) and (min-width:1040px) {
    .marketHead {
        font-size: 1.1rem !important;
    }
}

@media(max-width:950px) {
    .image {
        height: 620px;
    }
}

@media(max-width:850px) {
    .prodCard {
        width: 26vw;
    }
}

@media(max-width:700px) {
    .prodCard {
        width: 34vw;
    }
}

@media(max-width:650px) {
    .image {
        height: 680px;
    }

    .prodCard {
        width: 36vw;
    }

    .tick {
        width: 26px;
    }
}

@media(max-width:550px) {
    .image {
        height: 730px;
    }

    .tick {
        width: 28px;
    }
}

@media(max-width:500px) {
    .prodCard {
        width: 54vw;
    }
}

@media(max-width:420px) {
    .prodCard {
        width: 60vw;
    }
}