@mixin text($size, $weight, $family, $color) {
    font-size: $size;
    font-weight: $weight;
    font-family: $family;
    color: $color;
}

@mixin flexRow {
    display: flex;
}

$primary : #C23947;
$primaryColor : #C23947;
$enable-negative-margins: true;

$grid-breakpoints: (
    xs: 0,
    sm: 300px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);

.orangeText {
    @include text(1rem, 500, "Lora", $primaryColor )
}

.blackText {
    @include text(2.3rem, 700, "Lora", "#000");
    letter-spacing: 2px;
    line-height: 44px;
}

.slideText {
    @include text(4rem, 700, "Lora", "#fff");
}

.ulList {
    opacity: 0.95;

    li {
        display: flex;
        align-items: center;
    }
}

.footImg {
    width: 32px;
    background-color: #45494E;
    border-radius: 4px;
    padding: 6px;
}

.underline{
    height:4px;
    width:100%;
    // width:340px;
    background-color:#717171;
}

@media(max-width:650px){
    .slideText{
        font-size: 3.8rem;
    }

    .underline{
        width:310px;
    }
}

@media(max-width:550px) {
    .slideText {
        font-size: 3.5rem;
        line-height:76px !important;
    }

    .underline{
        width:300px;
    }
}

@media(max-width:450px) {
    .slideText {
        font-size: 3rem;
    }
    .underline{
        width:260px;
    }
}

@import "bootstrap/scss/bootstrap.scss";