@mixin text($size, $weight, $family, $color) {
    font-size: $size;
    font-weight: $weight;
    font-family: $family;
    color: $color;
}

@mixin flexRow {
    display: flex;
}

$primary : #EB4612;
$primaryColor : rgb(235, 70, 18);

.orangeText {
    @include text(1rem, 500, "Heebo", $primaryColor )
}

.blackText {
    @include text(2.3rem, 700, "Barlow", "#000");
    letter-spacing: 2px;
    line-height: 44px;
}

.slideText {
    @include text(4rem, 700, "Barlow", "#fff");
}

.ulList {
    opacity: 0.95;

    li {
        display: flex;
        align-items: center;
    }
}

.footImg {
    width: 32px;
    background-color: #45494E;
    border-radius: 4px;
    padding: 6px;
}

@import "bootstrap/scss/bootstrap.scss";