@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&family=Heebo:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #fff;
    font-family: "Heebo", sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

.image {
    filter: brightness(45%);
}

.F6F6F6 {
    background-color: #F6F6F6;
}

.marketFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}