/* * {
    overflow-x: hidden;
}

.navbar {
    background-color: #252525;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    overflow-y:hidden;
}

.nav_menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0px 32px;
    overflow-x: visible !important;
}

.nav_list {
    display: flex;
    align-items: center;
    margin: 0;
    overflow-x: visible !important;
}

.nav_list li{
    list-style: none;
}

.nav_menu ul li a {
    margin: 0 16px;
    color: #fff;
    text-decoration: none;
}

.nav_dropdown {
    background-color: rgb(72, 124, 169);
    display: flex;
    flex-direction: column;
    padding: 4px 8px;
    /* display: none; */
    /* position: absolue; */
    /* top:10px; */
    /* left: 0; */
    /* opacity: 0; */
    /* visibility: hidden; 
    overflow-x: visible !important;
} */
